@model ADODemo.UI.Models.AllOrdersVM

@{
    ViewBag.Title = "DisplayOrderList";
}

<h2>Orders - (@Model.OrderCount)</h2>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderID in Model.OrderList)
            {
                <tr>
                    <td>@orderID</td>
                    <td>@Html.ActionLink("View Details", "GetOrder", "Home", new { orderID = orderID} , null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />
@Html.ActionLink("Back to home", "Index", "Home")

